adafruit-ampy==1.1.0
aio-pika==9.4.3
aiofiles==23.2.1
aiohappyeyeballs==2.3.6
aiohttp==3.10.3
aiormq==6.8.1
aiosignal==1.3.1
alembic==1.14.0
altair==5.3.0
altgraph==0.17.4
annotated-types==0.6.0
anthropic==0.34.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
APScheduler==3.11.0
argcomplete==1.10.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==3.0.0
asttokens==2.2.1
astunparse==1.6.3
asyml-utilities==0.0.2
async-timeout==5.0.1
asyncer==0.0.8
asyncio==3.4.3
attackcti==0.3.8
attrdict==2.0.1
attrs==24.2.0
autoflake==2.3.1
aws==0.2.5
awscrt==0.16.23
AWSIoTPythonSDK==1.5.2
awsiotsdk==1.16.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.3
binaryornot==0.4.4
bitarray==2.8.2
bitstring==4.1.2
bleach==6.0.0
blinker==1.8.2
blis==0.7.11
boilerplates==1.0.1
boto==2.49.0
boto3==1.34.162
botocore==1.34.162
browserbase==0.3.0
burr==0.27.2
cachetools==5.3.3
cairocffi==1.4.0
CairoSVG==2.6.0
catalogue==2.0.10
cattrs==22.2.0
certifi==2024.12.14
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
chisel==1.3.6
click==8.1.7
click-default-group-wheel==1.2.2
cloudpathlib==0.16.0
cloudpickle==3.1.0
clusterops==0.1.2
colorama==0.4.6
colorlog==6.7.0
colour==0.1.5
comm==0.1.3
compressed-rtf==1.0.6
confection==0.1.3
contourpy==1.0.7
contractions==0.1.73
cookiecutter==2.6.0
coverage==6.5.0
cpe==1.2.1
cryptography==42.0.8
cssselect2==0.7.0
cybox==2.1.0.21
cycler==0.11.0
cymem==2.0.8
Cython==3.0.7
dataclasses-json==0.6.7
datasets==3.2.0
DateTime==5.0
dearpygui==1.8.0
debugpy==1.6.7
decorator==5.1.1
deepdiff==6.2.3
deepsearch-glm==1.0.0
defusedxml==0.7.1
diagrams==0.23.3
dill==0.3.8
discord==2.1.0
discord.py==2.1.0
diskcache==5.6.3
distlib==0.3.6
distro==1.9.0
dnspython==2.3.0
doc-master==0.0.2
docling==2.14.0
docling-core==2.12.1
docling-ibm-models==3.1.0
docling-parse==3.0.0
docopt==0.6.2
docstring_parser==0.16
document==1.0
docutils==0.20.1
docx==0.2.4
docx2txt==0.8
drawSvg==1.9.0
dspy==2.5.43
duckduckgo_search==7.2.1
easyocr==1.7.2
EasyProcess==1.1
ebcdic==1.1.1
ecdsa==0.18.0
email_validator==2.2.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.4
esptool==4.6.2
et-xmlfile==1.1.0
etc==0.0.7
ete3==3.1.2
executing==1.2.0
extract-msg==0.28.7
fabric==3.1.0
faiss-cpu==1.8.0.post1
fastapi==0.115.6
fastapi-cli==0.0.7
fastapi-sso==0.10.0
fastjsonschema==2.16.2
ffmpy==0.5.0
filelock==3.9.0
filetype==1.2.0
fire==0.5.0
fireworks-ai==0.15.0
Flask==2.2.2
fonttools==4.38.0
forte==0.2.0
forte.faiss==0.0.3
fqdn==1.5.1
free_proxy==1.1.1
frozendict==2.3.5
frozenlist==1.3.3
fsspec==2024.6.1
funcsigs==1.0.2
future==1.0.0
geojson==2.5.0
gitdb==4.0.10
GitPython==3.1.31
google==3.0.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.62.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-generativeai==0.7.2
google-resumable-media==2.7.2
google-trans-new==1.1.9
googleapis-common-protos==1.63.2
GPUtil==1.4.0
gradio==5.9.1
gradio_client==1.5.2
graphviz==0.20.3
greenlet==3.0.3
groq==0.9.0
grpc-google-iam-v1==0.13.1
grpcio==1.65.4
grpcio-status==1.62.3
gunicorn==22.0.0
h11==0.14.0
html2text==2024.2.26
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.27.0
icon-font-to-png==0.4.1
idna==3.4
imageio==2.36.1
IMAPClient==2.1.0
importlib_metadata==8.5.0
interchange==2021.0.4
invoke==2.1.3
ipykernel==6.22.0
ipython==8.13.1
ipython-genutils==0.2.0
ipywidgets==8.0.4
iso8601==2.1.0
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
jq==1.8.0
json_repair==0.32.0
jsonlines==3.1.0
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.3
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.2.1
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
langchain==0.2.14
langchain-anthropic==0.1.23
langchain-aws==0.1.16
langchain-community==0.0.29
langchain-core==0.1.53
langchain-fireworks==0.1.7
langchain-google-genai==1.0.8
langchain-google-vertexai==1.0.8
langchain-groq==0.1.9
langchain-huggingface==0.0.3
langchain-mistralai==0.1.12
langchain-nvidia-ai-endpoints==0.2.1
langchain-openai==0.1.21
langchain-text-splitters==0.2.2
langcodes==3.3.0
langsmith==0.1.99
lazy_loader==0.4
litellm==1.53.7
llama_cpp_python==0.2.89
loguru==0.6.0
lxml==5.3.0
machine==0.0.1
macholib==1.16.3
maec==4.1.0.17
magicattr==0.1.6
Mako==1.3.8
Markdown==3.4.1
markdown-it-py==2.2.0
marko==2.1.2
MarkupSafe==2.1.1
marshmallow==3.21.3
matplotlib==3.7.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
minify_html==0.15.0
mistune==2.0.5
mitre-attack==1.0.1
mitreattack-python==2.0.4
mixbox==1.0.5
monotonic==1.6
MouseInfo==0.1.3
mpire==2.10.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.4
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.10
mypy==1.5.1
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysql-connector-python==8.0.32
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netaddr==0.8.0
networkx==3.3
ngrok==1.4.0
ninja==1.11.1.3
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
npm==0.1.1
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
ollama==0.4.7
ollama-chat==0.9.43
openai==1.57.3
opencv-python==4.7.0.72
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
optional-django==0.1.0
optuna==4.1.0
ordered-set==4.1.0
orjson==3.10.7
packaging==23.2
paho-mqtt==1.6.1
palettable==3.3.1
pamqp==3.3.0
pandas==2.2.2
pandoc==2.3
pandocfilters==1.5.0
pansi==2020.7.3
paramiko==3.2.0
parse==1.20.2
parso==0.8.3
pdf2image==1.16.3
pdfminer==20191125
pdfminer.six==20191110
pexpect==4.8.0
Phyme==0.0.9
pickleshare==0.7.5
pillow==10.4.0
pipenv==2022.12.19
platformdirs==3.5.0
playwright==1.46.0
plumbum==1.8.1
pluralizer==1.2.0
ply==3.11
pocketsphinx==5.0.0
pooch==1.6.0
preshed==3.0.9
prettytable==3.8.0
primp==0.10.1
prometheus-client==0.16.0
prompt-toolkit==3.0.38
proto-plus==1.24.0
protobuf==4.25.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py2neo==2021.2.4
pyahocorasick==2.0.0
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.13
PyAutoGUI==0.9.53
pyclipper==1.3.0.post6
pycountry==22.3.5
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.16.0
pydantic==2.10.4
pydantic-settings==2.7.0
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pyee==11.1.0
pyFirmata==1.1.0
pyflakes==3.2.0
PyGetWindow==0.0.9
Pygments==2.15.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.10.1
pylint==3.0.1
pymongo==4.3.3
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyowm==3.3.0
pyparsing==3.0.9
pypdf==4.3.1
PyPDF2==3.0.1
PyPDF4==1.27.0
pypdfium2==4.30.1
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.10
python-bidi==0.6.3
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==2.0.4
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==1.0.2
python-slugify==8.0.4
python-time==0.3.0
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyVirtualDisplay==0.2.4
pywhatkit==5.4
PyYAML==6.0.2
pyzmq==25.0.2
qtconsole==5.4.0
QtPy==2.3.0
ray==2.40.0
redis==5.2.1
reedsolo==1.7.0
referencing==0.35.1
regex==2022.10.31
reportlab==4.2.5
requests==2.32.3
requests-cache==0.9.8
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rich-toolkit==0.12.0
rpds-py==0.22.3
rq==2.0.0
rsa==4.9
Rtree==1.3.0
rubicon-objc==0.4.3
ruff==0.8.4
s3-ocr==0.6.3
s3transfer==0.10.2
safehttpx==0.1.6
safetensors==0.4.4
schema-markdown==1.2.10
scikit-image==0.25.0
scikit-learn==1.2.1
scipy==1.14.1
scrapegraphai==1.13.3
selenium==3.141.0
semantic-version==2.10.0
semchunk==2.2.0
semver==2.13.0
Send2Trash==1.8.0
sentence-transformers==3.0.1
sentry-sdk==2.19.2
serial==0.0.97
shapely==2.0.5
shellingham==1.5.4
simplejson==3.18.3
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.3.2.post1
spacy==3.7.2
spacy-entity-linker==1.0.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speech-recognition-python==3.9.9
SpeechRecognition==3.8.1
SQLAlchemy==2.0.32
sqlite-fts4==1.0.3
sqlite-utils==3.30
srsly==2.4.8
stack-data==0.6.2
starlette==0.41.3
stix==1.2.0.11
stix2==3.0.1
stix2-elevator==4.1.7
stix2-patterns==2.0.0
stix2-validator==3.1.3
stixmarx==1.0.8
streamlit==1.40.2
style==1.1.0
swarm-models==0.2.7
swarms==6.6.5
sympy==1.13.1
tabulate==0.9.0
taxii2-client==2.3.0
tenacity==8.3.0
termcolor==2.2.0
terminado==0.17.1
tesseract==0.1.3
text-unidecode==1.3
textblob==0.17.1
textract==1.6.5
textsearch==0.0.24
thinc==8.2.1
thonny==4.1.3
threadpoolctl==3.1.0
tifffile==2024.12.12
tiktoken==0.7.0
tinycss==0.4
tinycss2==1.2.1
tk==0.1.0
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.1
toolz==0.12.1
torch==2.5.1
torchvision==0.20.1
tornado==6.3.1
tqdm==4.66.5
traitlets==5.9.0
transformers==4.44.0
typed-ast==1.5.5
typed-astunparse==2.1.4
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2022.7
tzlocal==4.2
ujson==5.7.0
undetected-playwright==0.3.0
update==0.0.1
uri-template==1.2.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.12
uv==0.1.35
uvicorn==0.22.0
uvloop==0.21.0
vaderSentiment==3.3.2
version-query==1.5.4
virtualenv==20.17.1
virtualenv-clone==0.5.7
waitress==3.0.2
Wand==0.6.11
wasabi==1.1.2
watchdog==4.0.1
watchfiles==1.0.3
wcwidth==0.2.6
weakrefmethod==1.0.3
weasel==0.3.4
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==14.1
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wikipedia==1.4.0
Wikipedia-API==0.7.1
xlrd==1.2.0
XlsxWriter==3.0.7
xxhash==3.5.0
yarl==1.8.2
yfinance==0.2.12
zipp==3.21.0
zope.interface==5.5.2
